/* HEADER */

.page-header{
    margin-bottom:30px;
}

/* CONTROL CARD */

.control-card{

    background:rgba(255,255,255,0.12);

    backdrop-filter:blur(12px);

    border-radius:20px;

    padding:20px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

    transition:.3s;

}

.control-card:hover{

    transform:translateY(-3px);

    box-shadow:
    0 8px 20px rgba(0,0,0,.2);

}

/* ======================================
   MODE SELECTOR
====================================== */

.mode-selector{

    display:flex;

    gap:18px;

    margin-top:12px;

}

.mode-selector label{

    display:flex;

    align-items:center;

    gap:6px;

    font-size:14px;

    cursor:pointer;

}

.mode-selector input{

    accent-color:#1FA971;

    cursor:pointer;

}

/* ======================================
   STATUS LABEL
====================================== */

.status-label{

    background:#22C55E;

    color:white;

    padding:8px 18px;

    border-radius:20px;

    font-size:14px;

    font-weight:600;

}

/* SWITCH */

.switch{
    position:relative;
    width:60px;
    height:30px;
}

.switch input{
    display:none;
}

.slider{
    position:absolute;
    cursor:pointer;

    top:0;
    left:0;
    right:0;
    bottom:0;

    background:#64748B;
    border-radius:50px;

    transition:.3s;
}

.slider::before{
    content:"";

    position:absolute;

    width:24px;
    height:24px;

    left:3px;
    top:3px;

    background:white;
    border-radius:50%;

    transition:.3s;
}

.switch input:checked + .slider{
    background:#22C55E;
}

.switch input:checked + .slider::before{
    transform:translateX(30px);
}
.bottom-nav{
    position:fixed;
    bottom:20px;
    left:50%;

    transform:translateX(-50%);

    width:90%;
    max-width:430px;

    background:rgba(255,255,255,0.12);

    backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,0.1);

    border-radius:30px;

    padding:14px 10px;

    display:flex;
    justify-content:space-around;
    align-items:center;

    z-index:999;
}

.nav-item{
    text-decoration:none;
    color:#CBD5E1;

    font-size:14px;
    font-weight:500;

    transition:0.3s;
}

.nav-item:hover{
    color:white;
}

.nav-item.active{
    background:white;
    color:#0F172A;

    padding:10px 18px;
    border-radius:20px;
    font-weight:600;
}
.switch input:disabled + .slider{
    opacity:0.5;
    cursor:not-allowed;
}